*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
}

.container{
  width: 80%;
  margin: auto;
}

.bbtn:active{
  transform: scale(0.9);
  transition: .2s;
}

.bbtn:hover{
  background-color: green;
}

.bttn:hover{
  background-color: green;
}